.headercompoW {
    position: fixed;
    height: 5rem;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility: transparent;
}

.headercompoW .navbarW {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.headercompoW .navW-menu a {
    color: #ffffff;
}

.headercompoW .navW-menu {
    display: flex;
}

.headercompoW .navW-item {
    padding: 1rem;
    font-weight: 500;
}

.headercompoW .navW-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburgerW {
    display: none;
}


@media screen and (max-width:940px) {
    .headercompoW {
        width: 100vw;
        background-color: rgba(0,0,0,.9);
    }

    .headercompoW .navbarW {
        width: 100vw;
    }

    .hamburgerW {
        display: block;
        
    }

    .navW-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .navW-menu.active {
        left: 0;
    }

    .navW-item {
        margin: 1.5rem 0;
    }

    .headercompoW .navbarW img {
        width: 150px;
    }
}